*{
    font-family: verdana;
    margin: 0
}

body{
    background: #eee;  
}

.websiteTitle{
    text-align: center;
    position: relative;
    top: 200px
}

#wrapper{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

/*menu base style */

#navbar{
    background: black;
}

#navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0 0
}

#navbar #listItem {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 5px 5px 10px 5px;
} 

#navbar #listItem:hover{
    background-color: #333;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    vertical-align: center;
    /* font-size: 20px */
}

#navbar a:hover{
    color: #fff;
    text-decoration: none;
    /* font-size: 20px */
} 

.aboutWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileImg{
    position: relative;
    top: 200px;
    border-radius: 50%;
    align-self: center
    /* padding: 0;
    margin: 0 0 */
}

.aboutParagraph{
    position: relative;
    top: 250px;
    flex: wrap;
    margin: 0 100px;

}


.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card {
    margin-bottom: 2em;
}

.portfolioWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap

}

.product-card{
    position: relative;
    top: 200px;
    margin: 20 75;
}



/* social menu */


/* flex styles */

@media screen and (min-width: 768px){
    #navbar ul{
        display: flex;
        justify-content: center;
        /* align-content: center; */
    }
    #navbar #listItem{
        flex: 1 1 0;
        height: 3%;
        padding: 20px 20px 40px 20px;

    }

    #navbar{
        display: flex;
        justify-content: space-between;
    }
} 