*{
    font-family: verdana;
    margin: 0
}

body{
    background: #eee;  
}

.homeWrapper{
    height: 1500px;
    align-content: center;
    background-image: url('img/glacier3.jpg')
}



.websiteTitle{
    text-align: center;
    position: relative;
    top: 150px;
    opacity: 0;
    animation-name:topFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#wrapper{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

/*menu base style */

#navbar{
    background: black;
    padding: 20px 50px 40px 50px;
}

#navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0 0
}

#navbar #listItem a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 5px 5px 10px 5px;
    transition: color 0.7s, transform 1s 0.7s;
} 

/* #navbar #listItem:hover{
    background-color: #333;
} */

#navbar a{
    /* color: #fff; */
    text-decoration: none;
    vertical-align: center;
    font-size: 25px;
    /* transition: 0.7s */
}

/* #navbar a:hover{
    color: #00CED1;
    text-decoration: none;
    /* font-size: 20px */
/*}*/ 

#navbar #listItem a:hover{
    transform: rotate(360deg);
    color: #00CED1;
}

.aboutWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileImg{
    position: relative;
    top: 100px;
    border-radius: 50%;
    align-self: center;
    opacity: 0;
    animation: rightFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards

    /* padding: 0;
    margin: 0 0 */
}

.aboutParagraph{
    position: relative;
    top: 150px;
    flex: wrap;
    margin: 0 100px;
    opacity: 0;
    animation: rightFadeIn;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards

}


.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card {
    margin-bottom: 2em;
}

.portfolioWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap

}

.product-card{
    position: relative;
    top: 125px;
    margin: 20 75;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#contactWrapper{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    /* flex-wrap: wrap; */
    /* align-items: center */
}

#contactWrapper #contactTitle{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

#contactWrapper .contactItem{
    display: flex;
    position: relative; 
    top: 150px;
    margin: 10px 0px;
}



/* social menu */


/* flex styles */

@media screen and (min-width: 768px){
    #navbar ul{
        display: flex;
        justify-content: center;
        /* align-content: center; */
    }
    #navbar #listItem{
        flex: 1 1 0;
        height: 3%;
        padding: 20px 20px 40px 20px;

    }

    #navbar{
        display: flex;
        justify-content: space-between;
    }

    #contactWrapper{
        display: flex;
        flex-direction: column;
        font-size: 40px;
    }

    #contactWrapper #contactTitle{
        display: flex;
        justify-content: center;
        position: relative;
        top: 100px;
    }
    
    #contactWrapper .contactItem{
        display: flex;
        position: relative;
        top: 150px;
        margin: 30px 100px;
    }
} 

@keyframes topFadeIn{
    0% {
        position: relative;
        top: 0;
        opactity: 0
    }
    100%{
        position: relative;
        top: 200px;
        opacity: 1;
    }
}

@keyframes rightFadeIn{
    0% {
        position: relative;
        right: -100px;
        opactity: 0
    }
    100%{
        position: relative;
        right: 20px;
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0
    }

    100%{
        opacity: 1
    }
}